.client-appointment-container {
  display: flex;
  flex-direction: column;
}

.sticky-header {
  position: sticky;
  flex-shrink: 0;
  z-index: 99;
  top: 0;
  z-index: 99;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab-content-wrapper {
  padding: 0px 15px;
  scroll-behavior: smooth;
}
