@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.rbc-calendar {
  background-color: #ffffff;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
}

.rbc-event {
  border-radius: 16px !important;
  padding: 4px 8px !important;
  font-size: 13px !important;
  font-weight: 500;
  color: #fff !important;
  margin-bottom: 4px !important;
  border: none !important;
}

.rbc-header {
  background-color: #4D227C;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}

.rbc-today {
  background-color: rgba(34, 59, 124, 0.12) !important;
  border-radius: 8px;
}

.rbc-day-view .rbc-today,
.rbc-time-view .rbc-today {
  background: transparent !important;
}

.rbc-time-header .rbc-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rbc-time-header .rbc-header.rbc-today span {
  transform: translateY(3px);
}

.rbc-time-view {
  border-radius: 12px;
  overflow: hidden;
}

.rbc-time-header {
  border: none !important;
  margin-bottom: 0 !important;
  background: #4D227C;
  border-radius: 12px 12px 0 0;
}

.rbc-time-header-content {
  border: none !important;
  padding-bottom: 0 !important;
}

.rbc-time-header .rbc-header {
  background: #4D227C !important;
  color: #ffffff;
  font-weight: bolder !important;
  padding: 1px 0 !important;
  border: none !important;
  font-size: 14px;
}

.rbc-time-header .rbc-header.rbc-today {
  background: transparent !important;
  color: #4D227C !important;
}

.rbc-time-header .rbc-header.rbc-today span {
  background: #ffffff;
  color: #4D227C;
  padding: 9px 14px;
  border-radius: 999px;
  display: inline-block;
  margin-bottom: 6px;
  box-shadow: 0 4px 10px rgba(77,34,124,0.35);
}

.rbc-time-header .rbc-row {
  min-height: unset !important;
  height: auto !important;
}

.rbc-time-content {
  border-top: 1px solid #eee !important;
}

.rbc-time-gutter {
  font-size: 12px;
  color: #6b6b6b;
}

.rbc-time-view .rbc-event {
  border-radius: 12px !important;
  padding: 6px 8px !important;
  font-size: 12px !important;
  line-height: 1.3;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.rbc-time-view .rbc-events-container {
  margin-right: 6px;
}

.btn-create {
  background: #4D227C;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-request {
  background: #153da0;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-create:hover {
  background: #ffffff;
  color:#4D227C;
  border: 1px solid #4D227C;
}

.btn-request:hover {
  background: white;
  color:#23428f;
  border: 1px solid #23428f;
}

.appointment-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.appointment-modal-lg {
  max-height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: #fff;
  padding: 20px;
  position: relative;
}

.modal-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.modal-body {
  overflow-y: auto;
  padding-top: 15px;
  flex: 1;
}

.modal-footer {
  border-top: 1px solid #ddd;
  padding-top: 15px;
  margin-top: 15px;
}

.modal-header h2 {
  color: #4D227C;
  font-weight: 700;
}

.modal-date {
  background: #eadcf7;
  color: #4D227C;
  padding: 6px 14px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  margin-left: 355px;
}

.modal-section {
  margin-top: 22px;
  padding: 18px;
  border-radius: 12px;
  background: #faf7fd;
  border: 1px solid #eadcf7;
}

.modal-section h4 {
  margin-bottom: 14px;
  color: #4D227C;
  font-weight: 600;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
}

.form-grid input {
  padding: 11px 12px;
  border-radius: 10px;
  border: 1px solid #b99ad7;
  outline: none;
  font-size: 14px;
}

.payment-form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.payment-form-grid input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.form-grid input:focus {
  border-color: #4D227C;
  box-shadow: 0 0 0 2px rgba(77,34,124,0.15);
}

.radio-group {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
  color: #4b2b6b;
}

.radio-group label {
  margin-right: 14px;
  font-size: 14px;
}

.radio-group strong {
  font-size: 13px;
  color: #4D227C;
}

.btn-add {
  background: #1f6aa5;
  color: white;
  border: none;
  padding: 10px 50px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.btn-add:hover {
  background: #174f7c;
}

.rbc-current-time-indicator {
  display: none !important;
}

.schedule-row {
  display: flex;
  gap: 15px;
  align-items: center;
}

.schedule-row input {
  flex: 1;
  padding: 12px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

.time-input-wrapper {
  position: relative;
  flex: 1;
}

.time-input-wrapper input {
  width: 100%;
  padding: 12px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

.time-input-wrapper label {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
  font-size: 14px;
  background-color: #fff;
  padding: 0 4px;
}

.appointment-card h3{
  color: #4D227C;
  font-weight: 600;
}

.rbc-toolbar-label {
  font-size: 16px;
  font-weight: 600;
  color: #4D227C;
}



