@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  color: #EBD8EA;
  
}

p{
  color: #542982;
}

.card{
  border: 3px solid #A276D0; 
  
}

.form-label{
  color: #542982;
}

.custom-field{
  border: 2px solid #542982;
 
}

