@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
  font-family: 'Poppins', sans-serif !important;
  color: #E1D8EB;
  
}

.card-custom{
  width: 25rem;
  border: 2px solid #542982 !important;
  border-radius: 25px;    
  margin: 1.5rem;
}

.logo{
  max-width: 90%;
}

.span-tagline{
  color: #542982;
  font-size: 0.57rem;
}

Form{
  color: #542982;
}

.custom-field{
  border: 2px solid #542982;
  font-size: 12px;
  padding: 7px;
}

.input-icon-wrapper {
  position: relative;
  width: 100%;

}

/* Left icon (Email and Lock) */
.input-icon-left {
  position: absolute;
  left: 12px;
  top: 47%;
  transform: translateY(-50%);
  color: #6c757d;
  font-size: 1.2rem;
  pointer-events: none;
  z-index: 10;
  color: #542982;
}

/* Right icon (Eye toggle) */
.input-icon-right {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  font-size: 1.2rem;
  color: #6c757d;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease;
  color: #542982;
}

.input-icon-right:hover {
  color: #495057;
}

/* Input field with left icon */
.input-with-icon {
  padding-left: 40px !important;
}


.login-text{
  font-size: 13px;
}

.terms-check{
  font-size: 12px;
  color: #646465;
}

.terms-condi{
  color: #542982;
}

.form-check-input{
  border: 2px solid #542982;
  &:checked{
    border: 2px solid #542982;
    background-color: #542982;
  }
}

.btn-login{
  color: white;
  background-color: #542982;
  border: 2px solid #542982;
  border-radius: 25px;  

  &:hover{
    color: white;
    background-color: #783bb5;
    border: 2px solid #783bb5;
  }

  &:active{
    background-color: #3e1d63;
    border: 2px solid #542982;

  }
  
}

.register-text{
  font-size: 12px;
  color: #646465;
}

.register-link{
  color: #542982;
}

/* to hide the default show password  */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}