@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
  font-family: 'Poppins', sans-serif !important;
  color: #E1D8EB;
  
}

.card-custom{
  width: 25rem;
  border: 2px solid #542982 !important;
  border-radius: 25px;    
  margin: 1.5rem;
}

.logo{
  max-width: 90%;
}

.span-tagline{
  color: #542982;
  font-size: 0.57rem;
}

Form{
  color: #542982;
}

.custom-field{
  border: 2px solid #542982;
  font-size: 12px;
}

.login-text-field{
  font-size: 13px; 
}

.terms-check{
  font-size: 12px;
  color: #646465;
}

.terms-condi{
  color: #542982;
}

.form-check-input{
  border: 2px solid #542982;
  &:checked{
    border: 2px solid #542982;
    background-color: #542982;
  }
}

.btn-login{
  background-color: #542982;
  border: none;
  border-radius: 25px;  
  &:hover{
    background-color: #783bb5;
    border: none;
  }
}

.register-text{
  font-size: 12px;
  color: #646465;
}

.register-link{
  color: #542982;
}

/* to hide the default show password  */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}